<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Regist date</th>
      <th>Is homework</th>
      <th>Is dog room</th>
      <th>Is living room</th>
      <th>Is medicine</th>
      <th>Bedtime</th>
      <th>Is laundry drying</th>
      <th>Is laundry drying remain</th>
      <th>Is laundry tumbling</th>
      <th>Is laundry tumbling remain</th>
      <th>Request</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.regist_date %></td>
        <td><%= article.is_homework %></td>
        <td><%= article.is_dog_room %></td>
        <td><%= article.is_living_room %></td>
        <td><%= article.is_medicine %></td>
        <td><%= article.bedtime %></td>
        <td><%= article.is_laundry_drying %></td>
        <td><%= article.is_laundry_drying_remain %></td>
        <td><%= article.is_laundry_tumbling %></td>
        <td><%= article.is_laundry_tumbling_remain %></td>
        <td><%= article.request %></td>
        <td><%= article.user %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
