<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.number_field :grade %>
  </div>
  <div class="field">
    <%= f.label :basecost %><br>
    <%= f.number_field :basecost %>
  </div>
  <div class="field">
    <%= f.label :unitprice1 %><br>
    <%= f.number_field :unitprice1 %>
  </div>
  <div class="field">
    <%= f.label :unitprice2 %><br>
    <%= f.number_field :unitprice2 %>
  </div>
  <div class="field">
    <%= f.label :unitprice3 %><br>
    <%= f.number_field :unitprice3 %>
  </div>
  <div class="field">
    <%= f.label :unitprice4 %><br>
    <%= f.number_field :unitprice4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
